.container-error{
    min-height: 100vh;
    overflow:hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    background: url("CAR2.jpg") no-repeat;

}

.container-error h1{
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: 'Roboto', sans-serif;
}



.container-error5{
    min-height: 100vh;
    background: url("errorR.jpg") transparent;

    background-size: 40% auto;;

      color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrong h1{
    display: flex;
    text-align: center;
    margin: 60px auto;
    font-family: 'Frijole', cursive;
    font-size: 55px;
    height: auto;

}
.return{
    font-family: 'Frijole', cursive;
}
/**/