.container-error{
    min-height: 100vh;
    padding:0 5rem;
    overflow:hidden;
    background: url("CAR.jpg") transparent;
    background-repeat:no-repeat;
    color: black;

}

.container-error5{
    min-height: 100vh;
    background: url("errorR.jpg") transparent;

    
}

.wrong h1{
    display: flex;
    text-align: center;
    margin: 60px auto;
    font-family: 'Frijole', cursive;
    font-size: 55px;
    height: auto;

}
.return{
    font-family: 'Frijole', cursive;
}
/**/