.container-error{
    min-height: 100vh;
    overflow:hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    background: url("CAR2.jpg") no-repeat;
    object-fit: fill;

}

.container-error h1{
    padding-top: 15rem;
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: 'Roboto', sans-serif;
}



.container-error5{
    min-height: 100vh;
    background: url("errorR.jpg") transparent;

    background-size: 40% auto;;
    min-height: 100vh;
    overflow:hidden;
    height: 100%;
    width: 100%;
    align-items: center;

    object-fit: fill;
}

